---
http_interactions:
- request:
    method: get
    uri: https://api.typeform.com/forms/roXeua8T/responses?page_size=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      authorization:
      - Bearer tfp_62Xro3C5DmF2NTCQxj2mgjWPuEsefiDVHwY1zBi3HdaF_ep1x8XubFLtg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      typeform-version:
      - '2016-05-25'
      x-newp:
      - 'Yes'
    body:
      encoding: UTF-8
      string: '{"total_items":11,"page_count":1,"items":[{"landing_id":"2gof1cbxc3f591wlp1rg2gosb7kedrfr","token":"2gof1cbxc3f591wlp1rg2gosb7kedrfr","response_id":"2gof1cbxc3f591wlp1rg2gosb7kedrfr","landed_at":"2021-09-30T12:07:39Z","submitted_at":"2021-09-30T12:10:10Z","metadata":{"user_agent":"Mozilla/5.0
        (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.232
        Whale/2.10.124.26 Safari/537.36","platform":"other","referer":"https://0p9qgzt74wx.typeform.com/to/roXeua8T","network_id":"4a6e0b5207","browser":"default"},"hidden":{"meeting_2182":""},"calculated":{"score":0},"answers":[{"field":{"id":"oWr6Fvv8FbTG","ref":"70423fc2-c6da-4957-96fb-893ea5ef4914","type":"email"},"type":"email","email":"dmsal7292@naver.com"},{"field":{"id":"nJPjdtja3dDR","ref":"f0688deb-1d8a-43a2-a9af-e696644623fe","type":"multiple_choice"},"type":"choice","choice":{"id":"NiypfZnfsIOm","ref":"19ca2e06-e98c-4cdb-a176-31b3415edc72","label":"25~29세"}},{"field":{"id":"bJENdvk5XJ9i","ref":"e8fa30c4-2c37-4898-9c75-33a3c4e90548","type":"multiple_choice"},"type":"choice","choice":{"id":"3HH0dgHyWudE","ref":"1860b0f8-4ca9-4b44-b8ab-9ccfe21e3792","label":"졸업생(취업
        준비중)"}},{"field":{"id":"HUvCDHJl3TX1","ref":"1bf26ea7-a260-4546-985b-14acb9d91a43","type":"opinion_scale"},"type":"number","number":5},{"field":{"id":"pzhhqpDysI8g","ref":"1e01dab3-4555-4340-a60d-43b3ec02f8e3","type":"multiple_choice"},"type":"choices","choices":{"ids":["QnE7E8Hw2cVw","xl1L92CXj5VI"],"refs":["01FGT9TR70F5CT886XGKAP9HP4","01FGT9TR700EDF22PRM5KYX0V0"],"labels":["멘토의
        클래스 진행(태도, 전달력)","컨텐츠(취업/직무 정보, 커리큘럼)"]}},{"field":{"id":"r2ckRffMngKE","ref":"98855757-bbeb-4e7d-a140-03ead645ef26","type":"multiple_choice"},"type":"choices","choices":{"ids":["nfA5Ll8ILE8T"],"refs":["01FGT9TR7055XXTG1GGKGNMMKK"],"labels":["없음"]}},{"field":{"id":"Xah1Tut1ykVz","ref":"8bc17b04-4a2b-41e9-89f8-a1bd04e8904e","type":"long_text"},"type":"text","text":"현직자를
        통해 직무를 알아볼 수 있어서 좋은 시간이었습니다. 경영전략의 업무와 필요역량을 알아갈 수 있어서 좋았습니다."},{"field":{"id":"WYvcK2beJa9d","ref":"b819e030-ebfb-444c-93ee-ceb400bf80f1","type":"opinion_scale"},"type":"number","number":5},{"field":{"id":"miHkGkTtxV2r","ref":"6c5eaa75-f02c-4a6b-9668-aa4e7fa2663e","type":"opinion_scale"},"type":"number","number":5},{"field":{"id":"9k6Lgr0N7qoP","ref":"c7fe2b98-97e4-4494-8b88-908a448eddf5","type":"opinion_scale"},"type":"number","number":5},{"field":{"id":"uWjO6VbsYSZV","ref":"2774[...]
